In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests

%matplotlib inline

In [7]:
!dir

 O volume na unidade C nÆo tem nome.
 O N£mero de S‚rie do Volume ‚ DE90-4DA5

 Pasta de C:\Users\wilso\machine_learning\iris

21/03/2020  12:56    <DIR>          .
21/03/2020  12:56    <DIR>          ..
21/03/2020  12:54    <DIR>          .ipynb_checkpoints
21/03/2020  12:56             1.174 Analyse in Iris data set.ipynb
               1 arquivo(s)          1.174 bytes
               3 pasta(s)   127.425.585.152 bytes dispon¡veis

In [8]:
os.getcwd()

'C:\\Users\\wilso\\machine_learning\\iris'

In [12]:
PATH = os.getcwd() + '\\'

In [11]:
r = requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

In [13]:
with open(PATH + 'iris.data', 'w') as f:
    f.write( r.text )

In [16]:
df = pd.read_csv( 'iris.data', names = ['sepal legth', 'sepal width','petal legth', 'petal width'])
df

                sepal legth, sepal width, petal legth, petal width
5.1 3.5 1.4 0.2                                        Iris-setosa
4.9 3.0 1.4 0.2                                        Iris-setosa
4.7 3.2 1.3 0.2                                        Iris-setosa
4.6 3.1 1.5 0.2                                        Iris-setosa
5.0 3.6 1.4 0.2                                        Iris-setosa
...                                                            ...
6.7 3.0 5.2 2.3                                     Iris-virginica
6.3 2.5 5.0 1.9                                     Iris-virginica
6.5 3.0 5.2 2.0                                     Iris-virginica
6.2 3.4 5.4 2.3                                     Iris-virginica
5.9 3.0 5.1 1.8                                     Iris-virginica

[150 rows x 1 columns]